@model  WebApplication1.veritabani.Akademisyen
@{
    ViewBag.Title = "AGiris";
}
<style>
    #kutu {
        width: 500px;
        height: 300px;
        position: absolute;
        left: 40%;
        top: 50%;
        margin: -80px 0 0 -150px;
        border-bottom-color: black;
        padding-bottom: 3em;
        background-color: black;
        padding: 10px;
        border-bottom-right-radius: 40px;
        border-bottom-left-radius: 40px;
    }

    #kutuic {
        width: 500px;
        height: 70px;
        position: absolute;
        left: 64%;
        top: 50%;
        margin: -220px 0 0 -320px;
        border-bottom-color: black;
        padding-bottom: 3em;
        background-color: white;
        padding: 10px;
        border-top-right-radius: 40px;
        border-top-left-radius: 40px;
        border-top-left-radius: 40px;
    }
        input[type=text] ,input[type=password]{
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    
    input[type=submit] {
        width: 50%;
        background-color:#fe2929;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
}
    
</style>
<body style="background-color:#fe2929">


    <div id="kutu">
        <div id="kutuic">

            <center><h2 style="color:black">Akademisyen Girişi</h2></center>

        </div>
        <center>
            @using (Html.BeginForm("AGiris", "AkademisyenIslem", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <br /><br />
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <input type="text" id="aka_mail" name="aka_mail" placeholder="Mailiniz">

                    </div>

                    <div class="form-group">
                        <input type="password" id="aka_parola" name="aka_parola" placeholder="Parolanız">

                    </div>


                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Giriş Yap" class="btn  btn-xs" />
                        </div>
                    </div>
                </div>
            }

        </center>
    </div>

</body>