@{
    ViewBag.Title = "Hakkında";
}

<h3>Hangi alanda hangi firma/şirkette çalışmalıyım?</h3>
<div style="background-color:#7cca5b;height:2px"></div>
<br />
<div class="row">
  
    <div class="col-md-3">
        <div style="width:350px;height:450px">
            <p>Hangi alanda hangi firma/şirkette çalışmalıyım? Şirketlerin Çalışma Faaliyetleri Neler? İlgi alanıma göre staj nasıl bulurum? <br />
            Şirketlerde staj yapan stajyerlerden tecrübelerini, çalıştıkları alanları , firma hakkında bilgileri , stajda yaptıkları proje/çalışmaları bu ortamda paylaşarak staj yapacak olan arkadaşlara yardımcı olmak, fikir vermek amacıyla paylaşım yaparlar. Siteye üye olduktan sonra yapılan stajları görebilir ve kendi yaptığınız stajları siteye ekleyebilirsiniz.
                <h4>Siteden görüntüler : </h4>
            
            
            </p>
            
         </div>
    </div>
    <div class="col-md-9">
        <div style="background-image:url(../../Content/Adsız.png);top:0px;height:460px;background-repeat:no-repeat;background-position-x:right"></div>

    </div>

</div>

