@{
    ViewBag.Title = "AnaSayfa";
}


<div class="row">
    <br />
    <div class="col-md-12" style="background-image:url(../../Content/banner.jpg);height:400px;background-repeat:no-repeat"></div>
    <div class="col-md-6">
        <h2>Staj Yerleri Ve Stajyer Deneyimlerini İncele</h2>
        <p>
             Staj yapan kişilerin hangi firmada hangi departmanda çalıştıklarını , kullandıkları teknolojileri paylaştıkları bu web sitesi sayesinde çalışma alanına göre şirketleri seçebilir,fikir sahibi olabilirsiniz.
        </p>
     </div>
    <div class="col-md-6">
        <h2>Deneyimlerini Paylaş</h2>
        <p>Yaptığın stajda geliştirdiğin projeni, çalışmalarını, firma hakkında bilgileri ve görüşlerini paylaş ve senden sonraki stajyerlere fikir ver </p>
     </div>
   
</div>